<section id="service">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  service-item d-flex align-items-center justify-content-center">
                <div class="service-icon">
                    <img src="assets/images/home/icon1_120x.webp" alt="">

                </div>
                <div class="service-item-content">
                    <h6 class="title">FREE SHIPPING</h6>
                    <p class="subtitle">Free shipping on all US order or order above $99</p>
                </div>
            </div>
            <div class="col-lg-3  service-item d-flex align-items-center justify-content-center">
                <div class="service-icon">
                    <img src="assets/images/home/icon2_120x.webp" alt="">

                </div>
                <div class="service-item-content">
                    <h6 class="title">ONLINE SUPPORT 24/7</h6>
                    <p class="subtitle">Free shipping on all US order or order above $99</p>
                </div>
            </div>
            <div class="col-lg-3  service-item d-flex align-items-center justify-content-center">
                <div class="service-icon">
                    <img src="assets/images/home/icon3_120x.webp" alt="">

                </div>
                <div class="service-item-content">
                    <h6 class="title">7 DAYS RETURN</h6>
                    <p class="subtitle">Free shipping on all US order or order above $99</p>
                </div>
            </div>
            <div class="col-lg-3  service-item d-flex align-items-center justify-content-center">
                <div class="service-icon">
                    <img src="assets/images/home/icon4_120x.webp" alt="">

                </div>
                <div class="service-item-content">
                    <h6 class="title">PAYMENT SECURE</h6>
                    <p class="subtitle">Free shipping on all US order or order above $99</p>
                </div>
            </div>
            
        </div>
    </div>
</section>