<section id="brands">
    <div class="container-fluid p-0">
      <div class="row align-items-center justify-content-center">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide><div><img src="./assets/images/home/m6_160x160@2x.webp" alt=""></div></ng-template>
          <ng-template carouselSlide><div><img src="./assets/images/home/m6_160x160@2x.webp" alt=""></div></ng-template>
          <ng-template carouselSlide><div><img src="./assets/images/home/m6_160x160@2x.webp" alt=""></div></ng-template>
          <ng-template carouselSlide><div><img src="./assets/images/home/m6_160x160@2x.webp" alt=""></div></ng-template>
          <ng-template carouselSlide><div><img src="./assets/images/home/m6_160x160@2x.webp" alt=""></div></ng-template>
          <ng-template carouselSlide><div><img src="./assets/images/home/m6_160x160@2x.webp" alt=""></div></ng-template>

        </owl-carousel-o>
      </div>
    </div>
  </section>
