
<section id="contact-form" class="text-center">
    <div class="container">
        <div class="contact-us-form">
            <form action="">
                <h2 class="header">GET IN TOUCH</h2>
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6">
                        <input type="text" class="transparent" placeholder="Your Name" required>
                    </div>
                    <div class="col-lg-6"> <input type="email" class="transparent" placeholder="Your Email"
                            required></div>
                    <div class="col-lg-12">
                        <div>
                            <input type="tel" class="transparent" name="" id="" placeholder="Phone Number" required>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div>
                            <textarea name="" class="transparent message-area" placeholder="Message" required></textarea>
                    </div></div>
                </div>

        <button class="btn contact-button" >SEND MESSAGE</button>
              </form>
        </div>



        </div>
</section>
