#contact-form {
    .contact-us-form {
     .header {
         font-weight: bold;
         font-size: 40px;
     }
     margin: 105px auto;
     max-width: 830px;
     .transparent {
         outline: none;
         margin-top: 30px;
         height: 39px;
         width: 100%;
         border-inline: 0px;
         border-top: 0px;
         border-bottom: 2px solid rgba(0,0,0,.3);
     }
     .transparent.message-area {
         height: 150px;
         min-width: 100%;
         max-width: 100%;
     }
     .contact-button {
         background-color: black;
         color: white;
         font-weight: bold;
         padding-inline: 60px;
         padding-block: 15px;
         margin-top: 50px;
     }
    }
     
 
 
 }