<section id="new-arrivals">
  <div class="container">
       <div class="row">    
        <h2 class="title pb-5">NEW ARRIVALS</h2>
 <div class="col-lg-12 p-0">
           <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide><app-product-card></app-product-card></ng-template>
      <ng-template carouselSlide><app-product-card></app-product-card></ng-template>
      <ng-template carouselSlide><app-product-card></app-product-card></ng-template>
      <ng-template carouselSlide><app-product-card></app-product-card></ng-template>
    </owl-carousel-o>
        </div>
  </div>
  </div>
</section>