<section id="department">
    <div class="container">
        <div class="department-wrapper">
            <div class="department-item">
                <img src="assets/images/home/dep1.webp" height="100%" width="100%" alt="">
                <div class="content">
                    <h3 class="title">RUNNING</h3>
                </div>

            </div>
            <div class="department-item">
                <img src="assets/images/home/dep2.webp" height="100%" width="100%" alt="">
                <div class="content">
                    <h3 class="title">RUNNING</h3>
                </div>
            </div>
            <div class="department-item">
                <img src="assets/images/home/dep3.webp" height="100%" width="100%" alt="">
                <div class="content">
                    <h3 class="title">RUNNING</h3>
                </div>
            </div>
            <div class="department-item">
                <img src="assets/images/home/dep4.webp" height="100%" width="100%" alt="">
                <div class="content">
                    <h3 class="title">RUNNING</h3>
                </div>
            </div>
            <div class="department-item">
                <img src="assets/images/home/dep5.webp" height="100%" width="100%" alt="">
                <div class="content">
                    <h3 class="title">RUNNING</h3>
                </div>
            </div>
        </div>


    </div>
</section>