<section id="product-detail-tab" class="pt-5">
    <div class="container p-0">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                    type="button" role="tab" aria-controls="nav-home" aria-selected="true">DESCRIPTION</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false">DELIVERY
                    POLICY</button>
                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                    type="button" role="tab" aria-controls="nav-contact" aria-selected="false">RETURNS & EXCHANGES
                    POLICY
                </button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                tabindex="0">
                <p class="pt-3">Captivate with this shirt’s versatile urban look that works as well at happy hour as it does in
                    the back yard. The real mother of pearl buttons and embroidered crocodile complete its elegant
                    appeal.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                    dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                    ridicu lus mus. Donec quam felis, ultri cies nec, pellentesque eu, pretium quis, sem. Nulla
                    consequat massa quis enim.</p>
                <div class="py-3">
                    <img src="./assets/images/product/image_des.webp" alt="">
                </div>
                <ul class="pt-3">
                    <li>MACHINE WASH AT MAX.TEMP. 30° C - NORMAL PROCESS</li>
                    <li>MACHINE WASH AT MAX.TEMP. 30° C - NORMAL PROCESS</li>
                    <li>MACHINE WASH AT MAX.TEMP. 30° C - NORMAL PROCESS</li>
                    <li>MACHINE WASH AT MAX.TEMP. 30° C - NORMAL PROCESS</li>
                    <li>MACHINE WASH AT MAX.TEMP. 30° C - NORMAL PROCESS</li>
                </ul>
                <div>
                    <h5>Sample Ordered Lista</h5>
                    <ol>
                        <li>Comodous in tempor ullamcorper miaculis</li>
                        <li>Comodous in tempor ullamcorper miaculis</li>
                        <li>Comodous in tempor ullamcorper miaculis</li>
                        <li>Comodous in tempor ullamcorper miaculis</li>
                        <li>Comodous in tempor ullamcorper miaculis</li>
                    </ol>
                </div>
                <div>
                    <h5 class="pb-2">Sample Ordered Lista</h5>
                    <p class="bordered ps-3">Captivate with this shirt’s versatile urban look that works as well at happy hour as it does
                        in the back yard. The real mother of pearl buttons and embroidered crocodile complete its
                        elegant appeal.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                        montes, nascetur ridicu lus mus. Donec quam felis, ultri cies nec, pellentesque eu, pretium
                        quis, sem. Nulla consequat massa quis enim.</p>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                tabindex="0">
                <div>
                    <h5 class="pt-3">Lorem ipsum dolor sit amet</h5>
                    <p>Vivamus a placerat dolor. Proin ut vehicula mauris. Etiam sagittis augue ipsum. Aliquam
                        vestibulum massa nulla, ullamcorper aliquam diam feugiat vel. Fusce porttitor ultrices ante,
                        posuere vehicula lacus tempor eu. Sed et purus et massa mattis aliquet ac vel dolor.
                        Pellentesque eros lectus, placerat nec finibus ac, lobortis eu risus.

                        Donec fringilla metus ligula, sit amet fermentum ex laoreet non</p>
                    <p>- Ribbed and double stitched collar and armholes</p>
                    <p>- Ribbed and double stitched collar and armholes</p>
                    <p>- Ribbed and double stitched collar and armholes</p>
                    <p>- Ribbed and double stitched collar and armholes</p>
                    <p>
                        Curabitur egestas suscipit odio. Nam vitae aliquam dui
                        in laoreet elit. In posuere augue id velit placerat, vitae porttitor leo aliquet. Aenean non
                        ligula sed lorem eleifend aliquam. Morbi posuere faucibus viverra. Proin ullamcorper, lorem
                        lacinia cursus finibus.</p>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"
                tabindex="0">
          

            <h5 class="pt-3">  Nullam at mi accumsan, fermentum turpis at, hendrerit tortor</h5>
            <p>Vivamus commodo magna rutrum ipsum convallis luctus. Maecenas sollicitudin tincidunt sem at consectetur. Sed ligula elit, sodales feugiat porttitor non, commodo in ipsum. Donec vehicula orci et pharetra laoreet. Donec feugiat, nibh ac ornare hendrerit, dui augue semper felis, a finibus dui felis quis magna. Curabitur a ligula purus. Suspendisse vestibulum lorem non tellus aliquet blandit.

                Proin cursus sollicitudin scelerisque. Donec ultrices elit quis magna lobortis porttitor. Quisque et consectetur mauris. Sed facilisis malesuada ante eget blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque rutrum mattis ex ac sagittis. Nulla convallis euismod ipsum, a mollis sapien fringilla eget. Nam dignissim ornare nisi, in bibendum nibh auctor id.
                
                Quisque dictum justo id velit dapibus, id mollis diam tincidunt. Donec luctus tincidunt ultrices. Sed condimentum ante accumsan, sagittis lorem quis, dictum enim. Nam et facilisis odio. Ut iaculis dui non interdum accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacus sem, molestie non convallis nec, tristique a lacus. Proin eget lacus semper dui imperdiet accumsan. Morbi sagittis erat ac justo congue, a ornare tortor mollis. Aenean eu vulputate diam. Praesent suscipit ex non elit finibus ultricies.</p>
            </div>
            
        </div>
    </div>
</section>

