.arrival-card {
    padding: 10px;
    .card-body {
        img {
            border-radius: 10px;
        }
        position: relative;
    }
    .card-footer {
        padding-block: 10px;
        .footer-subtitle {
            font-size: 20px;
            font-weight: 500;
            text-decoration: none;
            color: black;
        }
        .footer-price {
            color: #9e9e9e;
            font-weight: bold;
        }
    }

    
    
}