
    <section id="team-members">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              <div class="team-item">
                <h5 class="item-name">KwangSang</h5>
                <span class="item-info">CEO- Vinova</span>
                <p class="item-text pt-2">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac pretium metus. Curabi tur velit sem, egestas sit amet dolor nec, tris tique vulputate enim.
                </p>
                <hr>
                <div class="item-contact">
                  <div class="pb-2">
                    <i class="bi bi-telephone"></i><span class="ps-2"> (+612) 2531 5600</span>
                  </div>
                 <div class="pb-2">
                    <i class="bi bi-envelope"></i><span class="ps-2"> sonata@domain.com</span>
                 </div>          
                </div>
                <hr>
                <div class="item-icons">
                  <i class="bi bi-facebook"></i>
                  <i class="bi bi-twitter"></i>
                  <i class="bi bi-pinterest"></i>
                  <i class="bi bi-instagram"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="team-item">
                <h5 class="item-name">KwangSang</h5>
                <span class="item-info">CEO- Vinova</span>
                <p class="item-text pt-2">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac pretium metus. Curabi tur velit sem, egestas sit amet dolor nec, tris tique vulputate enim.
                </p>
                <hr>
                <div class="item-contact">
                  <div class="pb-2">
                    <i class="bi bi-telephone"></i><span class="ps-2"> (+612) 2531 5600</span>
                  </div>
                 <div class="pb-2">
                    <i class="bi bi-envelope"></i><span class="ps-2"> sonata@domain.com</span>
                 </div>          
                </div>
                <hr>
                <div class="item-icons">
                  <i class="bi bi-facebook"></i>
                  <i class="bi bi-twitter"></i>
                  <i class="bi bi-pinterest"></i>
                  <i class="bi bi-instagram"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="team-item">
                <h5 class="item-name">KwangSang</h5>
                <span class="item-info">CEO- Vinova</span>
                <p class="item-text pt-2">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac pretium metus. Curabi tur velit sem, egestas sit amet dolor nec, tris tique vulputate enim.
                </p>
                <hr>
                <div class="item-contact">
                  <div class="pb-2">
                    <i class="bi bi-telephone"></i><span class="ps-2"> (+612) 2531 5600</span>
                  </div>
                 <div class="pb-2">
                    <i class="bi bi-envelope"></i><span class="ps-2"> sonata@domain.com</span>
                 </div>          
                </div>
                <hr>
                <div class="item-icons">
                  <i class="bi bi-facebook"></i>
                  <i class="bi bi-twitter"></i>
                  <i class="bi bi-pinterest"></i>
                  <i class="bi bi-instagram"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="team-item">
                <h5 class="item-name">KwangSang</h5>
                <span class="item-info">CEO- Vinova</span>
                <p class="item-text pt-2">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac pretium metus. Curabi tur velit sem, egestas sit amet dolor nec, tris tique vulputate enim.
                </p>
                <hr>
                <div class="item-contact">
                  <div class="pb-2">
                    <i class="bi bi-telephone"></i><span class="ps-2"> (+612) 2531 5600</span>
                  </div>
                 <div class="pb-2">
                    <i class="bi bi-envelope"></i><span class="ps-2"> sonata@domain.com</span>
                 </div>          
                </div>
                <hr>
                <div class="item-icons">
                  <i class="bi bi-facebook"></i>
                  <i class="bi bi-twitter"></i>
                  <i class="bi bi-pinterest"></i>
                  <i class="bi bi-instagram"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>