<header>
    <section id="navbar">
      <div class="container">
        <nav >
           <div class="row align-items-center">
          <div class="col-lg-9">
            <div class="navbar-menu d-flex align-items-center">
              <img src="/assets/images/logo/logo_1ae304d7-ade8-490e-a8cf-529802aa7779_48x.webp" alt="">
              <a class="nav-link" href="#">HOME</a>
              <a class="nav-link">ABOUT</a>
              <a class="nav-link" href="#">PRODUCTS</a>
              <a class="nav-link" href="#">MEN'S</a>
              <a class="nav-link" href="#">WOMEN'S</a>
              <a class="nav-link" href="./contact.html">CONTACT</a>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="navbar-icons d-flex justify-content-end">
              <i class="bi bi-bag"></i>
              <i class="bi bi-search"></i>
              <i class="bi bi-gear"></i>
            </div>
          </div>
        </div>
        </nav>
       
      </div>

    </section>
  </header>