#main-slider { 
    height: 100vh;
    .slider-item {
        transform: skew(-20.4deg);
        border-color: yellow;
    border-right: 20px solid yellow;
    overflow: hidden;
    transform-origin: 100% 0;
    
    }
}