<section id="main-slider">
   <div class="container-fluid p-0">
      <div class="row">
         <div class="col-lg-3"></div>
         <div class="col-lg-9">    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide><div class="slider-item"><img src="assets/images/home/s11_1842x878_crop_center.webp" alt=""></div></ng-template>
        <ng-template carouselSlide><div class="slider-item"><img src="assets/images/home/s22_1842x878_crop_center.webp" alt=""></div></ng-template>
      </owl-carousel-o></div>
      </div>

   </div>
</section>