<section id="product-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="pb-3">
                    <img width="100%" height="100%"
                        src="./assets/images/product/60_a3d3e8cf-fd87-44d7-a112-100a93083524_1120x.webp" alt="">
                </div>
                <div class="d-flex justify-content-between">
                    <img width="129px" height="163px"
                        src="./assets/images/product/60_a3d3e8cf-fd87-44d7-a112-100a93083524_1120x.webp" alt="">
                    <img width="129px" height="163px"
                        src="./assets/images/product/60_a3d3e8cf-fd87-44d7-a112-100a93083524_1120x.webp" alt="">
                    <img width="129px" height="163px"
                        src="./assets/images/product/60_a3d3e8cf-fd87-44d7-a112-100a93083524_1120x.webp" alt="">
                    <img width="129px" height="163px"
                        src="./assets/images/product/60_a3d3e8cf-fd87-44d7-a112-100a93083524_1120x.webp" alt="">
                    <img width="129px" height="163px"
                        src="./assets/images/product/60_a3d3e8cf-fd87-44d7-a112-100a93083524_1120x.webp" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <h3 class="title">Women's Pink Tracksuits</h3>
                </div>
                <div>
                    <span>$63.00</span>
                </div>
                <div class="subtitle">
                    <p>Captivate with this shirt’s versatile urban look that works as well at happy hour as it does
                        in the back yard. The real mother of pearl buttons and embroidered crocodile...</p>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div>
                            <p>AVAILABLE:</p>
                            <p>AVAILABLE:</p>
                            <p>AVAILABLE:</p>
                            <p>AVAILABLE:</p>
                            <p>AVAILABLE:</p>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div>
                            <p> Adidas</p>
                            <p> Adidas</p>
                            <p> Adidas</p>
                            <p> Adidas</p>
                            <p> Adidas</p>
                        </div>
                    </div>
                </div>
                <div>
                    <p>Size: S</p>


                </div>
            </div>
        </div>
    </div>
</section>